<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container">
  <h2>Weekly</h2>
  <table class="table table-striped">
    <thead>
      <tr>
      	<th>Day</th>
        <th>North</th>
        <th>South</th>
        <th>East</th>
        <th>West</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td>Monday</td>
      	<td>
        	<div class="radio"><label><input type="radio" name="optradio_m_b" checked>Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_l" checked>Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_s" checked>Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_d" checked>Dinner</label></div>
		</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_m_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_d" >Dinner</label></div>
		</td>
		<td>
			<div class="radio"><label><input type="radio" name="optradio_m_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_d" >Dinner</label></div>
		</td>        
		<td>
			<div class="radio"><label><input type="radio" name="optradio_m_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_m_d" >Dinner</label></div>
		</td>
	  </tr>
      <tr>
      	<td>Tuesday</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_t_b" checked>Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_l" checked>Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_s" checked>Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_d" checked>Dinner</label></div>
		</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_t_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_d" >Dinner</label></div>
		</td>
		<td>
			<div class="radio"><label><input type="radio" name="optradio_t_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_d" >Dinner</label></div>
		</td>        
		<td>
			<div class="radio"><label><input type="radio" name="optradio_t_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_t_d" >Dinner</label></div>
		</td>
      </tr>
      <tr>
      	<td>Wednesday</td>
      	<td>
        	<div class="radio"><label><input type="radio" name="optradio_w_b" checked>Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_l" checked>Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_s" checked>Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_d" checked>Dinner</label></div>
		</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_w_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_d" >Dinner</label></div>
		</td>
		<td>
			<div class="radio"><label><input type="radio" name="optradio_w_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_d" >Dinner</label></div>
		</td>        
		<td>
			<div class="radio"><label><input type="radio" name="optradio_w_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_w_d" >Dinner</label></div>
		</td>
      </tr>
      <tr>
      	<td>Thursday</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_th_b" checked>Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_l" checked>Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_s" checked>Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_d" checked>Dinner</label></div>
		</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_th_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_d" >Dinner</label></div>
		</td>
		<td>
			<div class="radio"><label><input type="radio" name="optradio_th_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_d" >Dinner</label></div>
		</td>        
		<td>
			<div class="radio"><label><input type="radio" name="optradio_th_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_th_d" >Dinner</label></div>
		</td>
      </tr>
      <tr>
      	<td>Friday</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_f_b" checked>Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_l" checked>Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_s" checked>Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_d" checked>Dinner</label></div>
		</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_f_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_d" >Dinner</label></div>
		</td>
		<td>
			<div class="radio"><label><input type="radio" name="optradio_f_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_d" >Dinner</label></div>
		</td>        
		<td>
			<div class="radio"><label><input type="radio" name="optradio_f_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_f_d" >Dinner</label></div>
		</td>
      </tr>
      <tr>
      	<td>Saturday</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_s_b" checked>Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_l" checked>Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_s" checked>Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_d" checked>Dinner</label></div>
		</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_s_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_d" >Dinner</label></div>
		</td>
		<td>
			<div class="radio"><label><input type="radio" name="optradio_s_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_d" >Dinner</label></div>
		</td>        
		<td>
			<div class="radio"><label><input type="radio" name="optradio_s_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_s_d" >Dinner</label></div>
		</td>
      </tr>
      <tr>
      	<td>Sunday</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_su_b" checked>Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_l" checked>Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_s" checked>Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_d" checked>Dinner</label></div>
		</td>
        <td>
        	<div class="radio"><label><input type="radio" name="optradio_su_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_d" >Dinner</label></div>
		</td>
		<td>
			<div class="radio"><label><input type="radio" name="optradio_su_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_d" >Dinner</label></div>
		</td>        
		<td>
			<div class="radio"><label><input type="radio" name="optradio_su_b" >Breakfast</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_l" >Lunch</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_s" >Snacks</label></div>
			<div class="radio"><label><input type="radio" name="optradio_su_d" >Dinner</label></div>
		</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>