<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  .tab{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }
  .tabd{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }


</style>

<meta charset='utf-8' />
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href='{{url_for("static", filename="flip.css")}}'>

<link href='{{url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css")}}' rel="stylesheet">

<link href='{{url_for("static", filename="vendor/fontawesome-free/css/all.min.css")}}' rel="stylesheet" type="text/css">

<link href='{{url_for("static", filename="vendor/magnific-popup/magnific-popup.css")}}' rel="stylesheet" type="text/css">

<link href='{{url_for("static", filename="freelancer.min.css")}}' rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <body id="page-top" draggable="false">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href='{{url_for("home")}}'>Houdini  Mess</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href='{{url_for("home")}}'>Home</a>
            <li class="nav-item mx-0 mx-lg-1"></li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href='{{url_for("calendar")}}'>View Registration</a>
            </li>
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href='{{url_for("logout")}}'>Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br><br><br>

        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">View Bill</h2>
              <hr class="star-dark mb-5">
                  <form action="/view_bill" method="post">

                    <div class="control-group" align="center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input type="radio" name="options" value="sem" id="option1" autocomplete="off" checked> Semester
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" value="month" id="option2" autocomplete="off"> Previous Month </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" value="week" id="option3" autocomplete="off"> Previous Week
                      </label>
                    </div>
                  </div>
                  <br>
          <button type="submit" class="btn btn-primary" name="action" id="changedate" value="viewbill" ;>Submit</button>

                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

<br><br>

            <h2 class="text-info" align="center" class="tab"> {{operation}} </h2>

            <br><br>

            <div align="center" class="tabd">
              <table class="table table-dark table-striped table-bordered table-sm ">
                <tr align="center">
                <th class="text-danger">Total Bill</th>
                <th class="text-danger">Total Meals</th>
                <th class="text-danger">Cancelled Meals</th>
              </tr>
              <tr><td align="center">{{bill}}</td>
                <td align="center">{{total}}</td>

                <td align="center">{{cancelled}}</td>
              </table>
          </div>
            
            <div class="table-responsive tab" >          
             <table class="table table-dark table-striped table-bordered table-hover">
              <tr>
                <th colspan="7"><h4 align="text-cenetr" class="text-info">Breakfast </h4></th></tr>
                <tr>
              <th>North</th>
              <th>South</th>
              <th>East</th>
              <th>West</th>
              <th>Total</th>
              <th>Cancelled</th>
              <th>Bill</th>
            </tr>
            <tr>
            <td>{{b[3][0]}}</td>
            <td>{{b[3][1]}}</td>
            <td>{{b[3][2]}}</td>
            <td>{{b[3][3]}}</td>
            <td>{{b[1]}}</td>
            <td>{{b[2]}}</td>
            <td>{{b[0]}}</td>
            </tr>
            
               <tr> <th colspan="7"><h4 align="text-cenetr" class="text-info">Lunch </h4></th></tr>
            <tr>
            <td>{{l[3][0]}}</td>
            <td>{{l[3][1]}}</td>
            <td>{{l[3][2]}}</td>
            <td>{{l[3][3]}}</td>
            <td>{{l[1]}}</td>
            <td>{{l[2]}}</td>
            <td>{{l[0]}}</td>
            </tr>
            <tr> <th colspan="7"><h4 align="text-cenetr" class="text-info">Snacks </h4></th></tr>
            <tr>
            <td>{{s[3][0]}}</td>
            <td>{{s[3][1]}}</td>
            <td>{{s[3][2]}}</td>
            <td>{{s[3][3]}}</td>
            <td>{{s[1]}}</td>
            <td>{{s[2]}}</td>
            <td>{{s[0]}}</td>
            </tr>
            <tr> <th colspan="7"><h4 align="text-cenetr" class="text-info">Dinner </h4></th></tr>
            <tr>
            <td>{{d[3][0]}}</td>
            <td>{{d[3][1]}}</td>
            <td>{{d[3][2]}}</td>
            <td>{{d[3][3]}}</td>
            <td>{{d[1]}}</td>
            <td>{{d[2]}}</td>
            <td>{{d[0]}}</td>
            </tr>
          </table>
        </div>

          
          


<br><br>
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">221B, Baker Street
              <br>S.H.Holmes, Consulting Detective
              <br>London</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">S.H.Holmes</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Houdini Mess</h4>
            <p class="lead mb-0">Pranjal Patidar
              <br>Aditya Tewari
              <br>Akshansh Sharma
              <br>Sandeep Gupta
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jqBootstrapValidation.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/contact_me.js')}}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>
    <script type="text/javascript">
      $('.flip').hover(function(){
      $(this).find('.card').toggleClass('flipped');
      });
    </script>

    <script type="text/javascript">
      $('.popover-dismiss').popover({
          trigger: 'focus'
      });

      $(function () {
        $('[data-toggle="popover"]').popover()
      });
    </script>

    <script>
      $(function() {
        $('input[name="daterange"]').daterangepicker({
          timePicker: false,
          startDate: moment().add(1,'days'),
          endDate: moment().add(1,'days'),
          minDate: moment().add(1,'days'),
          locale: {
            format: 'DD/MM/YYYY'
          }
        });
      });
     </script> 

    <script type="text/javascript">
      $(document).ready( function() {
            $(document).on('change', '.btn-file :file', function() {
          var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [label]);
          });

          $('.btn-file :file').on('fileselect', function(event, label) {
              
              var input = $(this).parents('.input-group').find(':text'),
                  log = label;
              
              if( input.length ) {
                  input.val(log);
              } else {
                  if( log ) alert(log);
              }
            
          });
          function readURL(input) {
              if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  
                  reader.onload = function (e) {
                      $('#img-upload').attr('src', e.target.result);
                  }
                  
                  reader.readAsDataURL(input.files[0]);
              }
          }

          $("#imgInp").change(function(){
              readURL(this);
          });   
        });
    </script>

  </body>
</html>
